// *{background-color:black; color:skyblue}
//div span{ color:red;}
//#id{color:blue;}
//.points{color:green;}
// p + p {color:red;}
//p>span.points {color:red;}

*{background-color:#778498; color:#4ce7f2}
h1{color:#ff91fd}
