<%# -*- coding: utf-8 -*- %>
<% require 'rubygems' %>
<% require 'dbi' %>
<% dbh = DBI.connect( 'DBI:SQLite3:bookinfo_sqlite.db') %>
<% row = dbh.select_one("select * from bookinfos where id=\'#{target_id.escapeSqlite3}\';") %>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html";
  charset=UTF-8 />
  <link rel="stylesheet" type="text/css" href="defalut.css">
  <title>蔵書管理</title>
</head>
<body>
  <h1>蔵書管理</h1>
  <h2>蔵書データの修正</h2>
  <p>
    このデータを修正します  |
    <a href= "/mainlist">蔵書データの表示</a> |
    <a href= "index.html">メニュー画面に戻る</a>
  </p>

  <form action="edit" method="post">
    <input type="hidden" name="prev_id" value="<%= target_id.escapeHtml %>" />
    <table>
      <th>項目名</th>
      <th>修正データ</th>
      <% row.each_with_name do |val, name|  %>
      <tr>
        <td>
          <%= jpnametable[name].escapeHtml %>
        </td>
        <td>
          <input name="<%= name.escapeHtml %>" value="<%= val.to_s.escapeHtml %>" size="60">
        </td>
      </tr>
      <% end %>
    </table>
    <input type="submit" value="修正を実行">
  </form>
  <hr>

</body>
</html>
