<%# -*- coding: utf-8 -*- %>

<% templateMsg1 = "" if templateMsg1==nil %>
<% templateMsg2 = "" if templateMsg2==nil %>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html";
  charset=UTF-8 />
  <link rel="stylesheet" type="text/css" href="defalut.css">
  <title>蔵書管理</title>
</head>
<body>
  <h1>蔵書管理</h1>
  <h2><%= templateMsg1.escapeHtml %></h2>
  <p>
    <%= templateMsg2.escapeHtml %>  |
    <a href= "list.erb">蔵書データの表示</a> |
    <a href= "index.html">メニュー画面に戻る</a>
  </p>
  <hr>
</body>
</html>
