<% # -*- coding: utf-8 -*- %>
<% require 'rubygems' %>
<% require 'dbi' %>

<% #データベースに接続 %>
<% dbh = DBI.connect( 'DBI:SQLite3:bookinfo_sqlite.db') %>
<% dbh["AutoCommit"]=false %>
<% begin %>
<% dbh.transaction do %>
<% rows = dbh.select_all("select * from bookinfos #{where_date};") %>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html";
  charset=UTF-8 />
  <link rel="stylesheet" type="text/css" href="defalut.css">
  <title>蔵書管理</title>
</head>
<body>
  <h1>蔵書管理</h1>

  <% unless rows.size > 0 %>
  <h2>蔵書データがありません</h2>
  <p>
    検索条件を見なおしてから実行してください  |
    <a href= "list.erb">蔵書データの表示</a> |
    <a href= "index.html">メニュー画面に戻る</a>
  </p>

  <% else %>
  <h2>検索条件の表示</h2>
  <p>
    処理する蔵書データを選択してください |
    <a href= "list.erb">蔵書データの表示</a> |
    <a href= "index.html">メニュー画面に戻る</a>
  </p>
  <hr>

  <form method="post" action="list"/>
  <div class="tablescroll">
  <table>
    <tr>
      <th>削除</th>
      <th>修正</th>
      <% ['id', 'title', 'author', 'yomi', 'publisher', 'page', 'price', 'purchase_price', 'isbn_10', 'isbn_13', 'size', 'publish_date','purchase_date', 'purchase_reason', 'notes'].each do |name| %>
      <th><%= "#{name}" %></th>
      <% end %>
    </tr>

    <% dbh.select_all("select * from bookinfos #{where_date};") do |row| %>
    <tr>
      <% ['id', 'title', 'author', 'yomi', 'publisher', 'page', 'price', 'purchase_price', 'isbn_10', 'isbn_13', 'size', 'publish_date','purchase_date', 'purchase_reason', 'notes'].each do |name| %>
      <% if name == 'id' then %>
      <td><input type="radio" name="operation" value=<%= "#{row[name]}.delete" %> </td>
      <td><input type="radio" name="operation" value=<%= "#{row[name]}.edit" %> </td>
      <% end %>
      <td><%= "#{row[name].to_s}" %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  </div>
  <input type="submit" value="選択した処理を実行" />
  <% end %>
  <hr>
</body>
</html>
<% end %>
<% rescue => e %>
  <% p e %>
<% ensure %>
  <% dbh.disconnect if dbh!=nil %>
<% end %>
